{% extends "layout.html" %}

{% block title %}
Log in
{% endblock title %}

{% load static %}
{% block style %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/login.css' %}">
{% endblock style %}

{% block body %}
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Email" id="username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">

        <button type="submit">Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
        <div class="login-link">
            New user? <a href="../signin">Sign In</a>
        </div>
    </form>
{% if messages %}
    {% for message in messages %}
        <p style="color:red;">{{message}}</p>
    {% endfor %}
{% endif %}
{% endblock body %}