{% extends "layout.html" %}

{% block title %}
Sign in
{% endblock title %}

{% load static %}
{% block style %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sign.css' %}">
{% endblock style %}

{% block body %}
    <div class="background">
   <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form>
    <h3>Create Account</h3>

    <label for="fullname">Full Name</label>
    <input type="text" placeholder="Enter your name" id="fullname">

    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Create a password" id="password">

    <label for="confirm">Confirm Password</label>
    <input type="password" placeholder="Re-enter your password" id="confirm">

    <button type="submit">Sign Up</button>

    <div class="social">
      <div class="go"><i class="fab fa-google"></i>Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
    </div>
    <div class="signin-link">
      Already a user? <a href="../login">Log In</a>
    </div>
  </form>
{% endblock body %}